.blogForm {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
}

.blogForm input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.blogForm__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.blogForm__button {
  display: flex;
  justify-content: center;
}

.titleFormNewBlog {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}